#timeline {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5rem 0;

  >h1 {
    margin: auto;
    padding: 2px 0px;
    border-bottom: 1px solid black;
    font: 300 2rem $text1;
  }

  .TimeLineBox {
    margin: 1rem 2rem;
    width: 100%;
    position: relative;

    // it is stick
    &::after {
      content: "";
      width: 6px;
      height: 100%;
      background-color: $secondary_dark;
      position: absolute;
      left: 50%;
      top: 0%;
      bottom: 0%;
      border-radius: 4px;
    }

  }
}

.TimeLineItem {
  position: relative;
  width: 41.5%;
  height: auto;
  padding: 5% 2%;
  border: 2px solid $secondary;
  background-color: #81b6ef;
  border-radius: 20px;
  margin: 5vh 0vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  text-align: center;

  >h2 {
    font: 400 200 cursive;
  }

  >p {
    font: 400 1rem $text5;
  }

  >a {
    font: 400 1rem $text5;
    text-decoration: none;
    color: $primary;
    width: 10vw;
    margin: auto;
    transition: all 200ms;

    &:hover {
      font: $text5;
      color: $primary_dark;
    }
  }

  >span{
    font: 300 1.5rem $text4;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 25px;
  //   height: 25px;
  //   top: 50px;
  //   right: 0%;
  //   border: 5px solid black;
  //   border-radius: 50%;
  //   background-color: $primary;
  // }

  // &:nth-child(odd) {
  //   &::after {
  //     animation: updown1 0.3s infinite linear alternate;
  //   }
  // }

  // &:nth-child(even) {
  //   &::after {
  //     animation: updown2 0.5s infinite linear alternate;
  //   }

}

.even {
  left: 55%;

  // &::after{
  //     left: -15%
  // }
}