@media screen and (max-width: 1000px) {
  #services {
    >section {
      .ServiceBox2 {
        padding: 10vh 2vw;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 10px 1vmax;

    >h2{
    width: 100%;
    }

    >div {
      gap: 0.7vw;
    }
  }

  #Home {
    >section {
      &:first-of-type {
        padding-right: 0px;
        margin-right: 0px;
      }

      &:last-of-type {
        &::after {
          width: 80%;
        }
      }
    }
  }

  #contact {
    >aside {
      img {
        width: 100%;
      }
    }
  }

  #services {
    >section {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 700px) {
  nav {
    .NavBarComputer {
      display: none;

      .NavBarComputerLinks {
        display: none;
      }
    }

    >a {
      display: flex;
      align-items: center;
    }
  }

  #Home {
    height: auto;

    >section {
      &:first-of-type {
        border-top: 0;
        position: absolute;
        top: 68%;
        >div {
          gap: 1vw;

          >a {
            padding: $p_button;
          }
        }
      }

      &:last-of-type {
        &::after {
          top: 5vh;
          display: block;
          height: 50vh;
          width: 50vh;
        }

        >img {
          top: -10vh;
          height: 70vh;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #testimonial {
    >section {
      flex-direction: column;

      .testimonialCard {
        width: 80vw;
        height: auto;
        margin: auto;
      }
    }
  }

  #contact {
    display: flex;
    margin: auto;

    >section {
      margin: auto;
      width: 90%;
      left: 1%;
    }

    >aside {
      display: none;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 450px) {
  #Home {
    min-height: 150vh;

    >section {
      &:first-of-type {
        >aside {
          flex-direction: column;
        }

        >article {
          padding: 2vh 4vw;
        }

        >div {
          gap: 1vw;

          >a {
            padding: $p_button;
          }
        }
      }
    }
  }

  #timeline {
    .TimeLineBox {
      &::after {
        left: 3%;
        display: none;
      }

    }

    .TimeLineItem {
      width: 80%;
      position: static;

      >a {
        width: 35vw;
      }

      &:nth-child(even) {
        text-align: center;
      }

      &:nth-child(odd) {
        text-align: center;
      }
    }
  }

  #services {
    >section {
      padding: 2rem 1rem;

      >div {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        width: 100%;

        .ServiceBox1 {
          width: 90%;
          padding: 2rem 1rem;

          >p {
            font: 300 1.5rem $text5;
            margin: auto;
          }

          >span {
            font: 300 1.5rem $text5;
            margin: auto;
          }
        }

        .ServiceBox2 {
          width: 90%;
          text-align: center;
          padding: 2rem 1rem;

          &:hover {
            box-shadow: 0 0 5px 15px white;
          }

          >svg {
            margin: auto;
            font: 400 2rem $text5;
          }

          >span {
            font: 300 1.5rem $text5;
            margin: auto;
          }
        }
      }

      .ServiceBox3 {
        padding: 2rem 1rem;
        width: 90%;
        text-align: center;
        margin: auto;
        display: block;

        &:hover {
          box-shadow: 0 0 5px 15px white;
        }

        >svg {
          font: 400 2rem $text5;
          height: 10vh;
          width: 10vh;
          margin: 1rem 1rem;
        }

        >span {
          font: 300 1.5rem $text5;
          margin: auto;
        }
      }
    }
  }
}