#services {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;

    >h1 {
        margin: auto;
        padding: 2px 0px;
        border-bottom: 1px solid black;
        font: 300 2rem $text1;
    }

    >section {
        margin: 3vh 3vw;
        margin-right: 2vw;
        padding: 2vh 3vw;
        display: flex;
        height: fit-content;
        width: 90vw;
        gap: 3vw;
        background-color: $primary_dark;
        border-radius: 10px;
        transition: all 0.5s;
        cursor: pointer;
        flex-direction: column;

        >div {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            width: 100%;

            .ServiceBox1 {
                margin: 1rem;
                height: auto;
                padding: 10vh 2vw;
                border-radius: 40px;
                background-color: white;
                display: flex;
                flex-direction: column;
                transition: all 0.5s;
                width: 60%;


                &:hover {
                    box-shadow: 0 0 5px 15px white;
                }

                >p {
                    font: 200 3rem cursive;
                    margin: auto;
                }

                >span {
                    font: 400 3rem $text5;
                    margin: auto;
                }
            }

            .ServiceBox2 {
                margin: 1rem;
                padding: 10vh 10vw;
                border-radius: 40px;
                background-color: white;
                display: flex;
                flex-direction: column;
                height: auto;
                transition: all 0.5s;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 5px 15px white;
                }

                >svg {
                    margin: auto;
                    font-size: 5rem;
                }

                >span {
                    font: 400 3rem $text5;
                    margin: auto;
                }
            }
        }

        .ServiceBox3 {
            padding: 10vh 10vw;
            border-radius: 40px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            transition: all 0.5s;
            cursor: pointer;
            text-align: center;

            &:hover {
                box-shadow: 0 0 5px 15px white;
            }

            >svg {
                margin: auto;
                font-size: 0.5rem;
            }

            >span {
                font: 400 3rem $text1;
                margin: auto;
            }
        }
    }
}